*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Harry-Potter';
}

@font-face {
    font-family: "Harry-Potter";
    src: url('harry.TTF');
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    height: 100vh;

    background: url("../img/hogwarts.jpg");
    background-size: cover;
}